@import url('https://fonts.cdnfonts.com/css/bicubik');

/* 1st section */
.home-main-menu-section-mobile{
    background-color: #97918C;
    position: relative;
    padding: 16px;
}

.home-main-menu-section-size-text-1-mobile{
    white-space: pre-line;
    font-family: 'Bicubik', sans-serif;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
}

.home-main-menu-section-size-mobile{ 
    background-color: #EDEDED;
    position: relative;
    width: 100%;
    height: 150px;
    cursor: pointer;
}

.home-main-menu-section-size-text-2-mobile{
    position: absolute;
    left: 5%;
    bottom: 1%;
    font-family: 'Bicubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
}

.section-size-ph-mobile{
    position: absolute;
    width: 140px;
    right: 30%;
    top: 4%;
}

.home-main-menu-section-catalog-mobile{
    width: 100%;
    height: 150px;
    background-color: #797674; 
    position: relative;
    cursor: pointer; 
}

.home-main-menu-section-catalog-ph-1-mobile{
    position: absolute;
    width: 145px;
    bottom: 0;
    right: 0;
}
.home-main-menu-section-catalog-ph-2-mobile{
    position: absolute;
    width: 244px;
    bottom: 0%;
    right: 0%;
}

.home-main-menu-section-delivery-mobile{ 
    width: 100%;
    height: 180px;
    background-color: #525150;
    position: relative;
    cursor: pointer;
}
.home-main-menu-section-contacts-mobile{ 
    width: 100%;
    height: 180px;
    background-color: #343336;
    position: relative;
    cursor: pointer;
}



.button-circle-mobile{
    position: absolute;
    width: 6vw;
    right: 1%;
    top: 1%;
}

.home-main-cont{
    padding: 4px 0;
}
.home-main-cont-2{
    width: 100%;
    padding-top: 4px;
    padding-right: 4px;
}

.home-main-cont-3{
    width: 100%;
    padding-top: 4px;
    padding-left: 4px;
}

.home-main-flex-cont{
    display: flex;
}
.home-main-menu-section-text-2-mobile{
    position: absolute;
    left: 5%;
    bottom: 1%;
    font-family: 'Bicubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    color: #EDEDED;
    text-align: left;
}

.home-main-menu-section-size-mobile .section-size-ph-mobile{
    transition: transform 0.3s ease, right 0.3s ease; 
}

.home-main-menu-section-size-mobile:hover .section-size-ph-mobile{
    overflow: hidden;
    right: 2.4%;
    transform: scale(1.1);
}

.home-main-menu-section-catalog-mobile .home-main-menu-section-catalog-ph-1-mobile, 
.home-main-menu-section-catalog-mobile .home-main-menu-section-catalog-ph-2-mobile{
    transition: transform 0.3s ease, right 0.3s ease, bottom 0.3s ease; 
}

.home-main-menu-section-catalog-mobile:hover .home-main-menu-section-catalog-ph-1-mobile, 
.home-main-menu-section-catalog-mobile:hover .home-main-menu-section-catalog-ph-2-mobile{
    overflow: hidden;
    right: 3.8%;
    bottom: 4.4%;
    transform: scale(1.1);
}

/* 2nd section */

.home-details-searching-mobile{
    padding: 16px;
    background-color: #EDEDED;
}

.home-details-searching-head-mobile{
    font-family: 'Bicubik', sans-serif;
    font-size: 20px;
    font-weight: 400;
    white-space: pre-line;
    letter-spacing: 0em;
    text-align: left;
}

.home-details-searching-container-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-details-searching-container-2-mobile{
    display: flex;
    flex-direction: column;
    align-items: left;
    white-space: nowrap;
}

.home-details-searching-container-2-mobile > div{
    padding-bottom: 12px;
}

/* ATTENTION */
/* ATTENTION */
/* ATTENTION */

.input-mobile > input::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.67vw;
    letter-spacing: -0.011em;
    text-align: left;
    color: #A7A7A7;
}

.input-mobile > input{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.67vw;
    letter-spacing: -0.011em;
    padding-left: 8px;
}

.input-mobile > input{
    border: 1px solid #E0E0E0;
    outline: none;
}

.input-mobile{
    padding-right: 8px;
}

/* ATTENTION */
/* ATTENTION */
/* ATTENTION */
/* ATTENTION */

.home-details-searching-params-mobile{
    width: 100%;
    position: relative;
    display: inline-block;
    justify-content: left;
    align-items: center;
    padding-bottom: 24px;
}

.input-params-mobile{
    width: 98%;
    height: 15px;
    padding: 10px 0;
}

.home-details-searching-params-mobile img {
    position: absolute;
    left: 10px;
    transform: translateY(70%);
}

.home-details-searching-text-mobile{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.67vw;
    letter-spacing: -0.011em;
    color: #7E7E7E;
    text-align: left;
}

.input-inside-diameter-from-mobile, .input-inside-diameter-to-mobile,
.input-outside-diameter-from-mobile, .input-outside-diameter-to-mobile,
.input-inside-searching-width-from-mobile, .input-inside-searching-width-to-mobile{
    width: 46%;
    height: 15px;
    padding: 10px 0;
}

.home-details-searching-buttons-container-mobile{
    display: flex;
    padding: 32px 0px;
    text-align: center;
    flex-direction: column;
    width: 100%;

}

.home-details-clear-button-mobile{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 2.5vw;
    letter-spacing: 0em;
    padding: 15px 35px;
    text-align: center;
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease; 
}

.home-details-clear-button-mobile:hover{
    color: #fff; 
    background-color: #333; 
}

.home-details-show-button-mobile{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 2.5vw;
    letter-spacing: 0em;
    padding: 15px 35px;
    text-align: center;
    border: 1px solid black;
    background: none;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.home-details-show-button-mobile:hover{
    color: #fff; 
    background-color: #333; 
    border-color: #fff; 
}

/* 3rd section */

.home-catalog-section-mobile{
    background-color: #343336;
    padding: 24px 16px;
}

.home-catalog-heading-mobile{
    font-family: 'Bicubik', sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.home-catalog-heading-text-mobile{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    white-space: pre-line;
}

.home-catalog-grid-mobile-1{
    padding-top: 24px;
}

.home-catalog-grid-mobile-1 p, .home-catalog-grid-mobile-2 p{
    font-family: 'Bicubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #EDEDED;
}

.home-cat-flex-1{
    display: flex;
}

.home-catalog-grid-bearings-background-mobile{
    background-color: #525150;
    width: 100%;
    height: 160px;
    position: relative;
    cursor: pointer;
}
.home-catalog-grid-pins-mobile{
    width: 100%;
    padding-right: 8px;
}

.home-catalog-grid-oil-mobile{
    width: 100%;
    padding-left: 8px;
}

.home-catalog-grid-pins-background-mobile{
    background-color: #797674;  
    width: 100%; 
    height: 160px;
    position: relative;
    cursor: pointer;
}

.home-catalog-grid-oil-background-mobile{
    background-color: #97918C;
    width: 100%;
    height: 160px;
    position: relative;
    cursor: pointer;
}

.home-catalog-grid-2-mobile > div > p{
    font-family: 'Bicubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.78vw;
    letter-spacing: 0em;
    text-align: left;
    color: #EDEDED;
}

.home-catalog-grid-text-mobile{
    font-family: 'Bicubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.78vw;
    letter-spacing: 0em;
    text-align: left;
    color: #EDEDED;
}

.home-catalog-grid-lubricant-background-mobile{
    background-color: #797674;
    width: 100%;
    height: 160px;
    position: relative;
    cursor: pointer;
}

.home-catalog-grid-instrument-background-mobile{
    background-color: #797674;   
    width: 100%;
    height: 160px;
    position: relative;
    cursor: pointer;
}

.home-catalog-grid-lubricant-mobile{
    width: 100%;
    padding-right: 8px;
}

.home-catalog-grid-instrument-mobile{
    width: 100%;
    padding-left: 8px;
}

.home-catalog-grid-key-background-mobile{
    background-color: #525150;
    height: 160px;
    position: relative;
    cursor: pointer;
}

.home-catalog-bearing-1-mobile{
    position: absolute;
    left: 15%;
    height: 100%;
}

.home-catalog-bearing-2-mobile{
    position: absolute;
    top: 0;
    right: 0;
    height: 75%;
}

.home-catalog-bearing-3-mobile{
    position: absolute;
    top: 15%;
    left: 20%;
    width: 65%;
}

.home-catalog-watch-all-button-mobile{
    margin-left: 60%;
    padding: 15px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 2.5vw;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

/* 4th section */

.home-delivery-section-mobile{
    background-color: #EDEDED;
    padding: 24px 16px;
}

.home-delivery-head-mobile{
    font-family: 'Bicubik', sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}

.arrow-down-mobile{
    width: 48px;
    height: 48px;
    justify-self: end;
    transform: rotate(-90deg);
    transition: transform 0.3s ease; 
}
  
.arrow-down-anim-mobile{
    width: 48px;
    height: 48px;
    justify-self: end;
    transform: rotate(0deg);
    transition: transform 0.3s ease; 
}

.home-delivery-drop-menu-1-mobile{
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
}

.home-delivery-drop-menu-2-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.home-delivery-drop-menu-head-text-1-mobile{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    white-space: pre-line; 
}

.home-delivery-drop-menu-head-text-2-mobile{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.5vw;
    letter-spacing: 0em;
    text-align: left;
    white-space: pre-line; 
    margin-top: 3vw; 
}

.home-delivery-drop-menu-text-1-mobile{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    white-space: pre-line;
}

.home-delivery-drop-menu-text-2-mobile{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    white-space: pre-line;
}
.companies{
    width: 100%;
}
/* 5th section */

.home-contacts-section-mobile{
    background-color: #525150;
    padding: 16px 16px 48px 16px;
}

.home-contacts-head-mobile{
    font-family: 'Bicubik', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 2.78vw;
    text-align: left;
    color: white;
}

.home-contacts-container-mobile > div:last-child {
    margin-right: 0; 
}

.home-contacts-container-mobile > div{
    display: flex;
    align-items: center;
}

.home-contacts-container-mobile > div > img{
    width: 24px;
    height: 24px;
    padding-right: 10px;
}

.home-contacts-container-mobile > div > p{
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    white-space: pre-line;
    color: #fff;
}

.home-contacts-container-1-mobile,
.home-contacts-container-2-mobile,
.home-contacts-container-3-mobile{
    margin-bottom: -2vw;
}
.home-contacts-container-4-mobile,
.home-contacts-container-5-mobile{
    margin-top: 0.3vw;
    padding-bottom: 2vw;
}

.map-container-mobile{
    width: 100%; 
    height: 240px;
}
  
.map-container-mobile iframe{
    width: 100%; 
    height: 240px;
}

/* 6th section */

.home-form-sending-section-mobile{
    background-color: #EDEDED;
    padding: 24px 24px 24px 16px;
}

.home-form-sending-head-mobile{
    font-family: 'Bicubik', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.home-form-cont{
    position: relative;
    padding-bottom: 16px;
}


.home-form-cont-4{
    margin-top: -16px;
}

.input-mail-mobile{
    position: relative;
    height: 48px;
    width: 100%;
}

.input-mail-mobile::-ms-value{
    padding-left: 10px;
}

.edit-svg-input-mail-mobile{
    position: absolute;
    top:62%;
    left: 3%;
    z-index: 100;
}

.input-telephone-mobile{
    height: 48px;
    width: 100%;
}

.home-form-2-mobile{
    position: relative;
}

.input-message-mobile {
    width: 80%;
    padding-right: 20vw;
    padding-bottom: 100px;
    border: 1px solid #E0E0E0;
    word-wrap: break-word; 
    outline: none;
    resize: none; 
    overflow: hidden; 
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.011em;
}

.input-message-mobile::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 75%;
    letter-spacing: -0.011em;
    text-align: left;
    color: #A7A7A7;
}

.char-count-mobile{
    position: absolute;
    top: 15%;
    right: 0;
    font-size: 14px;
    color:#A7A7A7;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: right;
}

.home-form-3-mobile{
    position: relative;
}

.input-captcha-mobile{
    width: 100%;
    height: 48px;
}

.edit-svg-input-captcha-mobile{
    position: absolute;
    top:67%;
    left: 2%;
}

.home-details-searching-submit-button-mobile{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 2.5vw;
    letter-spacing: 0em;
    padding: 16px;
    width: 103%;
    text-align: center;
    border: none;
    color: #fff;
    background-color: #FF6421;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease; 
}

.home-details-searching-submit-button-mobile:hover{
    color: #fff; 
    background-color: #333; 
}

.home-details-searching-button-container-mobile{
    padding: 40px 0;
    margin: 0;
}