@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

header {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  background-color: #97918C;
  padding: 10px 4.4vw 20px 4.4vw;
  transition: background-color 0.3s ease; 
}

.sticky-header {
  display: flex;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  background-color: #97918C;
  padding: 10px 4.4vw 20px 4.4vw;
  z-index: 1000;
  animation: fadeIn 0.6s ease; 
}

.header-not-main{
  background-color: #EDEDED;
}

.header-main-logo{
  width: 15vw;
  height: auto;
  cursor: pointer;
}

.header-right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-contact-info span {
  font-family: "Poppins", sans-serif;
  font-size: 1.67vw;
  font-weight: 400;
  text-align: left;
  color:#343336;
  text-decoration: none;
}


.header-contact-info a {
  font-family: "Poppins", sans-serif;
  font-size: 1.67vw;
  font-weight: 400;
  line-height: 2.5vw;
  letter-spacing: 0em;
  text-align: left;
  color:#343336;
  text-decoration: none;
  transition: color 0.3s ease; 
}

.header-contact-info a:hover {
  color: #EDEDED; 
}

.header-contact-info-not-main span {
  font-family: "Poppins", sans-serif;
  font-size: 1.67vw;
  font-weight: 400;
  text-align: left;
  color:#343336;
  text-decoration: none;
}


.header-contact-info-not-main a {
  font-family: "Poppins", sans-serif;
  font-size: 1.67vw;
  font-weight: 400;
  line-height: 2.5vw;
  letter-spacing: 0em;
  text-align: left;
  color:#343336;
  text-decoration: none;
  transition: color 0.3s ease; 
}

.header-contact-info-not-main a:hover {
  color: #ffffff; 
}

.header-shopping-cart-status-svg{
  position: absolute;
  width: 0.8vw;
  right: 13%;
  top: 23%;
}

.header-shopping-cart-status-hide-svg{
  display: none;
}

.header-shopping-cart-svg{
  margin-left: 2.33vw;
  padding: 1vw;
  width: 2vw;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  border-radius: 50%; 
}

.header-shopping-cart-svg::before {
  content: ''; 
  position: absolute;
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.header-shopping-cart-svg:hover {
  background-color: #ffffff90; 
  border-radius: 50%; 
}

.header-shopping-cart-svg:hover::before {
  opacity: 1; 
}

.header-user-svg {
  position: relative;
  padding: 1vw;
  width: 2vw;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  border-radius: 50%; 
}

.header-user-svg::before {
  content: ''; 
  position: absolute;
  opacity: 0; 
  transition: opacity 0.3s ease; 
  border-radius: 50%; 
}

.header-user-svg:hover {
  background-color: #ffffff90; 
  border-radius: 50%; 
}

.header-user-svg:hover::before {
  opacity: 1; 
}

.header-shopping-cart-grid-container{
  display: grid;
  grid-template-columns: 1fr;
  max-height: 20.4vw; 
  overflow: auto; 
  padding-right: 1vw;
}

/* Кастомизация полосы прокрутки */
.header-shopping-cart-grid-container::-webkit-scrollbar {
  width: 4px; /* Ширина полосы прокрутки */
  transform: translateX(10%);
}

.header-shopping-cart-grid-container::-webkit-scrollbar-thumb {
  background-color: #000; /* Цвет полосы прокрутки */
  border-radius: 10px; /* Скругление углов полосы прокрутки */
}

.header-shopping-cart-grid-container::-webkit-scrollbar-track {
  background-color: #D9D9D9; /* Цвет трека (фона) полосы прокрутки */
  border-radius: 10px; /* Скругление углов полосы прокрутки */
}

/* Дополнительные стили, если нужно */
.header-shopping-cart-grid-container::-webkit-scrollbar-button {
  display: none;
}

.header-shopping-cart-grid-container::-webkit-scrollbar-corner {
  background-color: #f0f0f0; /* Цвет угла полосы прокрутки */
}

.cart-item{
  border: 1px solid black;
  position: relative;
}

.sc-quantity-controls{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: end;
  padding:0vw 1vw 0vw 1vw;
}

.sc-quantity-controls p{
  font-family: "Poppins", sans-serif;
  font-size: 1.5vw;
  font-weight: 600;
  letter-spacing: 0em;
  padding: 1vw;
}

.sc-quantity-controls-buttons{
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 0 0.5vw;
  height: 3vw;
}

.sc-quantity-controls-buttons p{
  font-family: "Poppins", sans-serif;
  font-size: 1.67vw;
  font-weight: 400;
  line-height: 2.5vw;
  letter-spacing: 0em;
  width: 1vw;
  padding: 1vw;
}

.sc-quantity-controls-buttons button{
  font-family: "Poppins", sans-serif;
  font-size: 1.67vw;
  font-weight: 400;
  line-height: 2.5vw;
  letter-spacing: 0em;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.sc-img-and-description{
  display: flex;
  padding: 1vw 0vw 0vw 1vw;
  align-items: center;
}

.sc-img-and-description > img{
  width: 12vw;
  height: 12vw;
  padding-left: 1vw;
}

.sc-description > p{
  font-family: "Poppins", sans-serif;
  font-size: 1.3vw;
  font-weight: 400;
  letter-spacing: 0em;
  padding-left: 1vw;  
  height: 1.3vw;
}

.sc-description span{
  font-family: "Poppins", sans-serif;
  font-size: 1.3vw;
  font-weight: 400;
  letter-spacing: 0em;
  color: #797674;
}

.sc-delete-btn-container{
  position: absolute;
  top: 1vw;
  right: 1vw;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sc-delete-btn-container img{
  width: 2vw;
  height: 2vw;
}

.sc-delete-btn-container button{
  font-family: "Montserrat", sans-serif;
  font-size: 1vw;
  font-weight: 500;
  letter-spacing: 0em;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.sc-continue-order-button-container{
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1.5vw 0vw 1vw 4vw
}

.continue-order-btn{
  font-family: "Poppins", sans-serif;
  font-size: 1.3vw;
  font-weight: 400;
  background-color: transparent;
  padding: 1vw;
  border: none;
  cursor: pointer;
}

.checkout-btn{
  font-family: "Poppins", sans-serif;
  font-size: 1.3vw;
  font-weight: 400;
  background-color: #FF6421;
  color: white;
  padding: 1vw 2vw 1vw 2vw;
  border: none;
  cursor: pointer;
}

.header-shopping-cart-cont{
  position: relative;
}

.header-shopping-cart{
  background-color: white;
  padding: 1vw 2vw 4vw 2vw;
  right: 0;
  top: 1vw;
  position: absolute;
  width: 40vw;
  z-index: 1050;
}

.header-shopping-cart-close-btn{
  position: absolute;
  right: 1vw;
  width: 2vw;
}

.header-shopping-cart-head{
  font-family: 'Bicubik', sans-serif;
  font-size: 1.5vw;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0.5vw;
}

.header-shopping-cart-count-text{
  font-family: "Poppins", sans-serif;
  font-size: 1vw;
  font-weight: 400;
  text-align: left;
  color:#525150;
  margin-top: 1vw;
}