footer{
    background-color: #97918C;
    padding: 1.67vw 4.4vw 3.33vw 4.4vw;
}

footer p{
    font-family: "Poppins", sans-serif;
    font-size: 1.67vw;
    font-weight: 400;
    line-height: 2.5vw;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
}